*{
    font-family: 'Courier New', Courier, monospace;
}
h1,h3{
    color:#b92b37;
}
#login{
    color:#b92b37;
    color:white;
}
#signup{
    color:#b92b37;
    color:white;
}
.a{
    color:#b92b37
}
